<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica" rel="stylesheet">
    <title>Fantod Card About Page</title>
  </head>
  <body>
    <div class="about">
      <h1>About</h1>
      <div class="madame-image">
        <img src="../Content/img/madame.jpg" alt="" />
      </div>
      <div class="madame-content">
        <h2>Madame Groeda Weyrd </h2>
        <p>Madame Weyrd, who is of mixed Finnish and Egyptian extraction, has devoted her life to divination, and is the author of among a shelf of other works, Floating Tambourines, a collection of esoteric verse, and The Future Speaks Through Entrails. Her career as one of the most celebrated of trance mediums came to a close when she lost two and a third fingers as the result of a contretemps during an ectoplasmic manifestation. She has long since been persona non grata to many of the rich and famous because of her fearless predictions of disaster. She now makes her home on Staten Island (the one that is part of Tierra del Fuego) and is writing what is hoped may be the definitive treatise on the Mystic Bean.</p>
        <p>Of the Fantod Pack itself, Madame Weyrd will only say that its origin may not be divulged, but it is of incredible antiquity.</p>
      </div>
    </div>
  </body>
</html>
