<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica" rel="stylesheet">
    <script src="../js/modernizr.js"></script>
    <title>Tarot Cards</title>
  </head>
  <body>
    <div class="nav">
      <!-- <img src="" alt="" /> -->
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Unfortunes</a></li>
      </ul>
    </div>

    <div class='card effect__click' id="ancestor">
        <div class='card__front face'>
            <img src='../Content/img/FantodCardBack.jpg'/>
        </div>
        <div class="card__back face">
            <img src='../Content/img/TheAncestor.jpg'/>
        </div>
    </div>

    <div class='card effect__click' id="sea">
        <div class='card__front face'>
            <img src='../Content/img/FantodCardBack.jpg'/>
        </div>
        <div class="card__back face">
            <img src='../Content/img/TheSea.jpg'/>
        </div>
    </div>

    <div class='card effect__click' id="urn">
        <div class='card__front face'>
            <img src='../Content/img/FantodCardBack.jpg'/>
        </div>
        <div class="card__back face">
            <img src='../Content/img/TheUrn.jpg'/>
        </div>
    </div>

    <div class='card effect__click' id="bird">
        <div class='card__front face'>
            <img src='../Content/img/FantodCardBack.jpg'/>
        </div>
        <div class="card__back face">
            <img src='../Content/img/TheYellowBird.jpg'/>
        </div>
    </div>

    <div class='card effect__click' id="dog">
        <div class='card__front face'>
            <img src='../Content/img/FantodCardBack.jpg'/>
        </div>
        <div class="card__back face">
            <img src='../Content/img/TheBlueDog.jpg'/>
        </div>
    </div>

    <div class="text-box">
      <div class="divination animate fadeIn">
        <h3>Your Divinations:</h3>
        <!-- <p>Put in razor</p> -->
      </div>
      <button type="button">Deal again</button>
    </div>

    <script src="../js/scripts.js"></script>
  </body>
</html>
