<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica" rel="stylesheet">
    <title>Fantod Card About Page</title>
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><a href="index.html">New Game</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="cards.html">Your Cards</a></li>
        <li><a href="#">Unfortunes</a></li>
      </ul>
    </div>
    <center>
    <div class="glossary-container">
      <h1>Glossary</h1>
      <table>
        <thead>
          <th>Divination</th>
          <th>Meaning</th>
        </thead>
        <tbody>
          <tr>
            <td>chagrin</td>
            <td>distress or embarrassment at having failed or been humiliated</td>
          </tr>
          <tr>
            <td>alopecia</td>
            <td>an autoimmune disease in which hair is lost from some or all areas of the body</td>
          </tr>
          <tr>
            <td>ignominy</td>
            <td>public shame or disgrace</td>
          </tr>
          <tr>
            <td>fugues</td>
            <td>a state or period of loss of awareness of one's identity, often coupled with flight from one's usual environment, associated with certain forms of hysteria and epilepsy</td>
          </tr>
          <tr>
            <td>thrush</td>
            <td>a disease that is caused by a fungus and is marked by white patches in the oral cavity</td>
          </tr>
          <tr>
            <td>champerty</td>
            <td>bargaining for a share of disputed property</td>
          </tr>
          <tr>
            <td>megrims</td>
            <td>strangers</td>
          </tr>

          <tr>
            <td>a betise</td>
            <td>a foolish or ill-timed remark or action</td>
          </tr>
          <tr>
            <td>puckers</td>
            <td>wrinkles</td>
          </tr>
          <tr>
            <td>impetigo</td>
            <td>a contagious bacterial skin infection forming pustules and yellow, crusty sores</td>
          </tr>
          <tr>
            <td>palsy</td>
            <td>paralysis, especially that which is accompanied by involuntary tremors</td>
          </tr>
          <tr>
            <td>yaws</td>
            <td>a contagious disease of tropical countries, caused by a bacterium that enters skin abrasions and gives rise to small crusted lesions that may develop into deep ulcers</td>
          </tr>
          <tr>
            <td>sites</td>
            <td>a circumscribed abscess caused by bacterial infection of the glands on the edge of the eyelid</td>
          </tr>
          <tr>
            <td>catarrh</td>
            <td>excessive discharge or buildup of mucus in the nose or throat, associated with inflammation of the mucous membrane</td>
          </tr>

          <tr>
            <td>weltschmerz</td>
            <td>a feeling of melancholy and world-weariness</td>
          </tr>
          <tr>
            <td>imbroglios</td>
            <td>an extremely confused, complicated, or embarrassing situation</td>
          </tr>
          <tr>
            <td>flukes</td>
            <td>a parasitic flatworm that typically has suckers and hooks for attachment to the host</td>
          </tr>
          <tr>
            <td>chilblains</td>
            <td>a painful, itching swelling on the skin, typically on a hand or foot, caused by poor circulation in the skin when exposed to cold</td>
          </tr>
          <tr>
            <td>cafard</td>
            <td>depression; melancholia</td>
          </tr>
          <tr>
            <td>malaise </td>
            <td>a general feeling of discomfort, illness, or uneasiness whose exact cause is difficult to identify</td>
          </tr>
          <tr>
            <td>folie à deux</td>
            <td>delusion or mental illness shared by two people in close association</td>
          </tr>
          <tr>
            <td>alginuresis</td>
            <td>painful urination</td>
          </tr>
          <tr>
            <td>pique</td>
            <td>a feeling of irritation or resentment resulting from a slight, especially to one's pride</td>
          </tr>
          <tr>
            <td>barratry</td>
            <td>vexatious litigation or incitement to it</td>
          </tr>
        </tbody>
      </table>
    </div>
  </center>
  </body>
</html>
