<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/enter.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica" rel="stylesheet">
    <title>Fantod Card Enter Page</title>
  </head>
  <body>
    <div class="text">
      <p id="what"> What dreadful things lie in wait for you? </p>
      <p id ="madame">Madame Weyrd knows...</p>
      <p id="enter"><a href="file:///Users/Guest/desktop/tarot-css/Views/login.html">ENTER</a></p>
    </div>
  </body>
</html>
