body {
  background-image: url("../Content/img/lacebg.jpg");
  background-size: cover;
  background-color: rgba(149, 20, 20, 0.3);
  background-blend-mode: overlay;
  // font-family: 'Gorey', serif;
  font-family: 'IM Fell DW Pica', serif;
}

.nav{
  ul{
    display: inline-flex;
    float: right;
    margin-right: 10vw;
    li{
      list-style: none;
      padding: 20px;
      font-size: 1.5em;
      a {
        text-decoration: none;
        color: #a4a3a2;
        &:hover {
          color: lighten($secondary-color,10%);
          font-weight: bold;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  25% {opacity: .2;}
  50% {opacity: .4;}
  75% {opacity: .7;}
  100% {opacity: 1;}
}

.text-box {
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-size: 1.5em;
  text-align: center;
  .divination {
    border: 2px dotted $primary-color;
    border-radius: 5px;
    color: $primary-color;
    animation: fadeIn 6s;
    padding-left: 10px;
    padding-right: 10px;
  }
}

button {
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-family: 'IM Fell DW Pica', serif;
  font-weight: bold;
  font-size: 1.5em;
  background: $secondary-color;
  color: black;
  margin-top: 30px;
  &:hover {
    background: black;
    color: $secondary-color;
  }
}




img {
  height: 400px;
  width: auto;
    border-radius: 10px;
}
.card {
  perspective: 700px;
  position: absolute;
  left: 45vw;
  top: 35vh;
  animation-duration: 6s;
  animation-fill-mode:forwards;
}
.card:hover .front{
  transform: rotateY(-180deg);
  // animation: frontFlipped 1s 6s ;
}
.card:hover .back {
  transform: rotateY(0deg);
  // animation: backStay 1s 6s forwards;
}
.card:hover .face {
  transition: all 0.8s ease-out;
}
.face {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.8s ease-out;
}
.front {
  transform: rotateY(0deg);
  // box-shadow: 2px 2px 5px 2px rgb(0,0,0);
}

.back {
  transform: rotateY(180deg);
  // box-shadow: 2px 2px 5px 2px rgb(0,0,0);
}

#bird {
  animation-name: slideBottom;

}
#dog{
  animation-name: slideLeft;
}
#ancestor{
  animation-name: slideRight;
 }
#sea {
  animation-name: slideTop;
}
@keyframes slideRight {
	from { left: 45vw; }
	to { left: 60vw; }
}
@keyframes slideLeft {
	from { left: 45vw; }
	to { left: 30vw; }
}
@keyframes slideBottom {
	from { top: 40vh; }
	to { top: 68vh; }
}
@keyframes slideTop {
	from { top: 40vh; }
	to { top: 2vh; }
}
//
// @keyframes frontFlipped {
//   0%{
//     transform: rotateY(0deg);
//     // animation-delay: 6s;
//     }
//   100%{
//     transform: rotateY(-180deg);
//     // animation-fill-mode: forwards;
//   }
// }
//
// @keyframes backStay {
//   0%{
//     transform: rotateY(-180deg);
//     // animation-delay: 6s;
//     }
//   100%{
//     transform: rotateY(0deg);
//     // animation-fill-mode: forwards;
//   }
// }
